
/* ------------------------------
 Header
------------------------------ */
#header {
  position: fixed;
  background-color: #fff;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  padding: 40px 0 0 0;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
main{
  margin-top: 140px;
  transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
}
.hero{
  position: sticky;
  top: 140px;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
}
.is-scroll main{
  margin-top: 96px;
}
.is-scroll  .hero{
  position: sticky;
  top: 96px;
  z-index: 1;
}
#header #headerlogo {
  float: left;
  margin-left: 90px;
  padding-top: 10px;
}
#header #headerlogo a {
  width: 230px;
  padding: 10px 10px;
  display: block;
  text-align: left;
  position: relative;
}
#header #headerlogo a svg {
  fill: #8E1728;
  transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#navibutton {
  width: 82px;
  height: 82px;
  box-sizing: border-box;
  border: #8E1728 1px solid;
  background-color: #fff;
  border-radius: 100px;
  float: right;
  margin: 0 46px 0 20px;
}

#pcnavi {
  float: right;
  padding-top: 10px;
}
#pcnavi ul {
  display: flex;
}
#pcnavi ul li {
  margin: 0 5px;
}
#pcnavi ul li a {
  display: block;
  color: #222;
  font-weight: 700;
  padding: 10px 10px;
  position: relative;
}
#pcnavi ul li a span {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  padding-right: 5px;
}
#pcnavi ul li a::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(to right bottom, rgba(142, 23, 40, 0.3), #8E1728);
  position: absolute;
  bottom: 3px;
  left: 0;
  transition: all 0.3s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
#pcnavi ul li a:hover::before {
  width: 100%;
}

.is-scroll #header {
  background-color: #fff;
  box-shadow: 0 5px 0 rgba(142, 23, 40, 0.1);
  height: 96px;
  padding: 8px 0 0 0;
}
    .is-scroll main{
    margin-top: 96px;
  }
  .is-scroll .hero{
    top: 96px;
  }
.is-scroll #header #headerlogo a svg {
  fill: #8E1728;
}
.is-scroll #pcnavi ul li a {
  color: #222;
}
.is-scroll #pagetop {
  opacity: 1;
  bottom: 0;
}

body.no-scroll #header {
  background-color: #fff;
  height: 96px;
  padding: 8px 0 0 0;
}
body.no-scroll #header #headerlogo a svg {
  fill: #8E1728;
}
body.no-scroll #pcnavi ul li a {
  color: #8E1728;
}
/* ------------------------------
 Fat-Navigation
------------------------------ */
.fat-nav, .hamburger__icon, .hamburger__icon:after, .hamburger__icon:before {
  transition-duration: 0.4s;
}

.hamburger {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: block;
  padding: 32px 0 0 0;
  box-sizing: border-box;
  touch-action: manipulation;
  position: relative;
  text-align: center;
  z-index: 1000;
  transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.hamburger::after {
  content: "menu";
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 18px;
  line-height: 1;
  color: #8E1728;
  letter-spacing: 0;
  font-size: 14px;
  font-family: "DM Sans", "Zen Kaku Gothic New", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "游ゴシック Medium", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Helvetica, sans-serif;
  font-weight: 700;
  transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.hamburger__icon {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 2px;
  background-color: #8E1728;
}
.hamburger__icon::before, .hamburger__icon::after {
  width: 36px;
  height: 2px;
  background-color: #8E1728;
  display: block;
  position: absolute;
  content: "";
}
.hamburger__icon::before {
  top: -8px;
  left: -5px;
}
.hamburger__icon::after {
  top: 8px;
  left: -5px;
}

.hamburger.active::after {
  content: "close";
}

.hamburger.active .hamburger__icon {
  background-color: transparent;
}

.hamburger.active .hamburger__icon:before, .hamburger.active .hamburger__icon:after {
  width: 35px;
  left: -4px;
  background-color: #8E1728;
}

.hamburger.active .hamburger__icon:before {
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .hamburger__icon:after {
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.fat-nav {
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  background: #fff;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-top: 80px;
  overflow: hidden;
}
#footer .ft-sitemap .ft-logo img {
    display: block;
    width: 130px;
    margin: 0 auto;
}
.f_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fat-nav__wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
}

.fat-nav.active {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.fat-nav .fat-nav__title {
  left: 0;
  top: 0;
  width: 35%;
  height: 100vh;
  position: absolute;
  background: url("../img/cta/menubg.jpg") no-repeat center center;
  background-size: cover;
}
.fat-nav .fat-nav__menu {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
  padding-left: 35%;
  overflow-y: scroll;
}
.fat-nav .fat-nav__menu .fat-nav__menu_inner {
  padding: 50px 5%;
  box-sizing: border-box;
}
.fat-nav .fat-nav__menu .sns_box {
  margin: 0 0 30px;
}
.fat-nav .fat-nav__menu .sns_box ul {
  letter-spacing: -.4em;
  text-align: center;
}
.fat-nav .fat-nav__menu .sns_box ul li {
  display: inline-block;
  margin: 0 10px;
}
.fat-nav .fat-nav__menu .sns_box ul li a {
  display: block;
  background-color: #8E1728;
  width: 44px;
  height: 44px;
  line-height: 1;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 50%;
}
.fat-nav .fat-nav__menu .btn_box {
  margin: 0 0 20px;
}
.fat-nav .fat-nav__menu .btn_box ul {
  display: flex;
  margin: 0 -15px;
}
.fat-nav .fat-nav__menu .btn_box ul li {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 15px;
  box-sizing: border-box;
  width: 33.3333333333%;
}
.fat-nav .fat-nav__menu .btn_box ul li a {
  padding: 18px 10px 20px;
  display: block;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  background-color: #8E1728;
  color: #fff;
  line-height: 1;
  position: relative;
  font-size: 16px;
}
.fat-nav .fat-nav__menu .btn_box ul li a::after {
  content: "\f0da";
  font-size: 26px;
  font-weight: 900;
  font-family: "Font Awesome 5 free", "Font Awesome 5 Brands";
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -13px;
  transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.fat-nav .fat-nav__menu .btn_box ul li a:hover {
  background-color: #AA8E4B;
}
.fat-nav .fat-nav__menu .btn_box ul li a:hover::after {
  right: 10px;
}
.fat-nav .fat-nav__menu .menu_containar {
  overflow: hidden;
  padding-bottom: 50px;
}
.fat-nav .fat-nav__menu .menu_containar .menu_box {
  width: 33.3333333333%;
  float: left;
  box-sizing: border-box;
  padding: 0 1vw;
  font-size: 16px;
}
.fat-nav .fat-nav__menu .menu_containar .menu_box .menu_title {
  font-size: 14px;
  line-height: 1.3;
  margin: 35px 0 15px;
  color: #8E1728;
  font-family: "DM Sans", "Zen Kaku Gothic New", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "游ゴシック Medium", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", "メイリオ", Helvetica, sans-serif;
  font-weight: 700;
}
.fat-nav .fat-nav__menu .menu_containar .menu_box .menu_title span {
  display: block;
  font-size: 21px;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.fat-nav .fat-nav__menu .menu_containar .menu_box dd {
  margin-bottom: 5px;
}
.fat-nav .fat-nav__menu .menu_containar .menu_box dd a {
  display: block;
  line-height: 30px;
  padding: 5px;
  position: relative;
}
.fat-nav .fat-nav__menu .menu_containar .menu_box dd a::after {
  content: "\f0da";
  font-size: 20px;
  font-weight: 900;
  font-family: "Font Awesome 5 free", "Font Awesome 5 Brands";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -14px;
  color: #8E1728;
  transition: all 0.4s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  -webkit-transition: all 0.4s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.fat-nav .fat-nav__menu .menu_containar .menu_box dd a:hover::after {
  right: 0;
}

@media only screen and (max-width: 1500px) {
  .wrapper {
    padding-right: 102px;
    padding-left: 40px;
  }
  .wrapper.wide {
    padding-right: 102px;
    padding-left: 40px;
  }

  /* ------------------------------
   Header
  ------------------------------ */
  #header #headerlogo {
    margin-left: 40px;
  }

  #navibutton {
    margin: 0 10px 0 20px;
  }

  /* ------------------------------
   Fat-Navigation
  ------------------------------ */
  .fat-nav .fat-nav__title {
    width: 30%;
  }
  .fat-nav .fat-nav__menu {
    padding-left: 30%;
  }
  .fat-nav .fat-nav__menu .btn_box ul {
    margin: 0 -10px;
  }
  .fat-nav .fat-nav__menu .btn_box ul li {
    padding: 0 10px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box dd a {
    letter-spacing: 0;
  }

  #fixbutton {
    right: 10px;
  }

  /* ---------- BreadCrumbs ---------- */
  #breadcrumbs {
    left: 50px;
  }
}
@media only screen and (max-width: 1160px) {
  /* ------------------------------
   Header
  ------------------------------ */
  #header {
    height: 120px;
    padding: 30px 0 0 0;
  }
  main{
    margin-top: 120px;
  }
  #header #headerlogo {
    padding-top: 4px;
  }

  #navibutton {
    width: 68px;
    height: 68px;
    margin: 0 ;
  }

  #pcnavi {
    display: none;
  }

  .is-scroll #header,
  body.no-scroll #header {
    height: 90px;
    padding: 10px 0 0 0;
  }
    .is-scroll main{
    margin-top: 90px;
  }
  .is-scroll .hero{
    top: 90px;
  }
  /* ------------------------------
   Fat-Navigation
  ------------------------------ */
  .hamburger {
    width: 68px;
    height: 68px;
    padding: 25px 0 0 0;
  }
  .hamburger::after {
    bottom: 16px;
  }

  .hamburger.active .hamburger__icon:before, .hamburger.active .hamburger__icon:after {
    width: 30px;
    left: -3px;
  }

  .fat-nav .fat-nav__menu .btn_box {
    margin: 0 0 20px;
  }
  .fat-nav .fat-nav__menu .btn_box ul {
    margin: 0 -8px;
  }
  .fat-nav .fat-nav__menu .btn_box ul li {
    padding: 0 8px;
  }
  .fat-nav .fat-nav__menu .btn_box ul li a {
    padding: 18px 15px 20px 10px;
    font-size: 14px;
    letter-spacing: 0;
  }
  .fat-nav .fat-nav__menu .btn_box ul li a::after {
    right: 10px;
  }
  .fat-nav .fat-nav__menu .menu_containar {
    overflow: hidden;
    padding-bottom: 50px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box {
    width: 50%;
  }

  #fixbutton {
    width: 68px;
    top: 80px;
    bottom: 50px;
  }
  #fixbutton .inner ul li a {
    width: 68px;
    height: 68px;
    letter-spacing: 0;
  }
  #fixbutton .inner ul li a img {
    width: 40px;
  }
  #fixbutton .inner ul.form li a {
    padding-top: 6px;
  }
  #fixbutton .inner ul.other li a {
    font-size: 10px;
    padding-top: 4px;
  }
  #fixbutton .inner ul.other li a img {
    margin-bottom: 0;
  }

  /* ------------------------------
   Footer
  ------------------------------ */
  /* ---------- Footer ---------- */
  #footer .ft-info {
    justify-content: center;
  }
  #footer .ft-info .ft-sns {
    width: 100%;
  }
  #footer .ft-info .ft-sns ul.sns {
    justify-content: center;
    margin: 30px 0 10px;
  }
  #footer #copyright {
    text-align: center;
  }

  /* ---------- BreadCrumbs ---------- */
  #breadcrumbs {
    top: 115px;
    left: 50px;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------

 Responsive-Breakpoint-2 ( 960px )
 
------------------------------------------------------------------------------------------------------------------------ */
@media only screen and (max-width: 959px) {
  .wrapper {
    padding-right: 4vw;
    padding-left: 4vw;
  }
  .wrapper.wide {
    padding-right: 4vw;
    padding-left: 4vw;
  }

  /* ------------------------------
   Header
  ------------------------------ */
  #header #headerlogo {
    margin-left: 4vw;
  }
  #header #headerlogo a {
    padding: 10px 0;
  }

  #navibutton {
    margin: 0 4vw 0 0;
  }

  /* ------------------------------
   Fat-Navigation
  ------------------------------ */
  .fat-nav .fat-nav__title {
    display: none;
  }
  .fat-nav .fat-nav__menu {
    padding-left: 0;
  }
  .fat-nav .fat-nav__menu .fat-nav__menu_inner {
    padding: 50px 30px;
  }
  .fat-nav .fat-nav__menu .sns_box ul li {
    margin: 0 6px;
  }
  .fat-nav .fat-nav__menu .btn_box ul {
    margin: 0 -5px;
  }
  .fat-nav .fat-nav__menu .btn_box ul li {
    padding: 0 5px;
  }
  .fat-nav .fat-nav__menu .btn_box ul li a:hover {
    background-color: #8E1728;
  }
  .fat-nav .fat-nav__menu .menu_containar {
    padding-bottom: 100px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box {
    padding: 0 3vw;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box dd a::after {
    right: 10px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box dd a:hover::after {
    right: 10px;
  }

  /* ------------------------------
   Fixbutton
  ------------------------------ */
  #fixbutton {
    right: 0;
    width: 100%;
    top: auto;
    bottom: 0;
    height: 61px;
    z-index: 100;
  }
  #fixbutton .inner {
    transform: none;
    width: 100%;
    position: static;
  }
  #fixbutton .inner ul {
    padding: 0;
    display: flex;
    border-top: #fff 1px solid;
  }
  #fixbutton .inner ul li {
    width: 33.3333333333%;
    margin: 0;
  }
  #fixbutton .inner ul li:last-of-type a::before {
    display: none;
  }
  #fixbutton .inner ul li a {
    width: auto;
    height: 60px;
    line-height: 60px;
  }
  #fixbutton .inner ul li a img {
    width: 44px;
    margin: 0 0;
    display: inline-block;
    vertical-align: -13px;
  }
  #fixbutton .inner ul li a::before {
    width: 1px;
    height: 100%;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: .5;
    border: none;
    z-index: auto;
  }
  #fixbutton .inner ul li a:hover::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    opacity: .5;
    background-color: #fff;
  }
  #fixbutton .inner ul.form li a {
    border-radius: 0;
    font-size: 16px;
    padding-top: 0;
  }
  #fixbutton .inner ul.other {
    display: none;
  }
  #fixbutton .inner ul.sns {
    display: none;
  }

  /* ------------------------------
   PageTop
  ------------------------------ */
  #pagetop {
    right: 0;
    bottom: 0;
  }
  .is-scroll #pagetop {
    opacity: 1;
    bottom: 61px;
  }

  /* ------------------------------
   Footer
  ------------------------------ */
  /* ---------- Contact ---------- */
  #ft-contact {
    padding: 70px 0;
  }
  #ft-contact .wrapper.f_inner .tel {
    margin: 0;
  }
  #ft-contact .wrapper.f_inner .tel .number {
    font-size: 32px;
  }

  /* ---------- Footer ---------- */
  #footer {
    padding: 35px 0 120px;
  }
  #footer .sublink li a {
    padding: 16px 0;
  }
  #footer .ft-sitemap {
    margin-bottom: 30px;
  }
  #footer .ft-sitemap .ft-logo {
    width: auto;
    margin: 0 auto;
  }
  #footer .ft-sitemap .ft-logo a {
    width: 100px;
  }
  #footer .ft-sitemap .links {
    display: none;
  }
  #footer .ft-info .office dl {
    margin: 0 20px;
  }

  /* ------------------------------
   Contents
  ------------------------------ */
  /* ---------- Page-Title ---------- */
  #titlearea {
    padding: 180px 0 50px;
  }
  #titlearea .pagetitle .en {
    font-size: 30px;
  }
  #titlearea .subtext {
    margin: 15px 0 40px;
  }

  #bodyarea {
    padding: 0 0 60px;
  }

  /* ---------- BreadCrumbs ---------- */
  #breadcrumbs {
    left: 4vw;
  }
  #breadcrumbs ul li {
    font-size: 11px;
  }

  /* ---------- Typography ---------- */
  .postbody {
    margin-bottom: 60px;
  }

  /* ------------------------------
   Page-Navigation
  ------------------------------ */
  #pagenavi .wrapper {
    padding: 0;
  }
  #pagenavi ul li a {
    font-size: 14px;
    letter-spacing: 0;
  }
  #pagenavi ul li a:hover {
    text-shadow: none;
  }
  #pagenavi ul li a:hover::after, #pagenavi ul li a:hover::before {
    opacity: .3;
  }
  #pagenavi .pageback {
    margin-top: 0;
  }

  /* ------------------------------
   Mail-Form
  ------------------------------ */
  #formarea .formtitle {
    margin-bottom: 40px;
  }
  #formarea .formtitle span.en {
    margin-bottom: 10px;
    font-size: 28px;
  }
  #formarea .formtitle span.ja {
    font-size: 16px;
  }

  table.inputform th {
    width: 25%;
    padding: 30px 0 30px 20px;
  }
  table.inputform td {
    padding: 30px 20px 30px 40px;
  }
  table.inputform span.br {
    padding-left: 0;
    display: block;
  }

  /* ---------- confirm.css override ---------- */
  table#mfp_confirm_table {
    width: 100%;
  }

  /* ------------------------------
   Thanks
  ------------------------------ */
  .thanks .title {
    font-size: 24px;
    letter-spacing: .1em;
  }

  /* ------------------------------
   Tel
  ------------------------------ */
  #telbox {
    padding: 80px 0;
  }
  #telbox .office dl dd {
    font-size: 15px;
    line-height: 24px;
  }
  #telbox .office dl dd .small {
    display: block;
    line-height: 1;
  }

  /* ------------------------------
   Carousel
  ------------------------------ */
  /* ---------- Arrows ---------- */
  ul.carousel .slick-prev:hover,
  ul.carousel .slick-next:hover {
    transform: none;
  }
  ul.carousel .slick-next {
    right: -20px;
  }
  ul.carousel .slick-prev {
    left: -20px;
  }

  /* ------------------------------
   Next-Link-Banner
  ------------------------------ */
  .nextbanner a {
    height: 300px;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------

 Responsive-Breakpoint-3 ( 644px )
 
------------------------------------------------------------------------------------------------------------------------ */
@media only screen and (max-width: 644px) {
  body {
    line-height: 1.6;
    font-size: 14px;
  }

  .wrapper {
    padding: 0 20px;
  }
  .wrapper.wide {
    padding: 0 20px;
  }

  .f_inner {
    display: block;
  }

  /* ------------------------------
   Header
  ------------------------------ */
  #header {
    height: 100px;
    padding: 20px 0 0 0;
  }
    main{
    margin-top: 100px;
  }
  .hero{
    top: 100px;
  }
  #header #headerlogo {
    margin-left: 20px;
    padding-top: 2px;
  }
  #header #headerlogo a {
    width: 200px;
  }
  #header #navibutton {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
  }

  .is-scroll #header,
  body.no-scroll #header {
    height: 72px;
    padding: 6px 0 0 0;
  }
    .is-scroll main{
    margin-top: 72px;
  }
  .is-scroll .hero{
    top: 72px;
  }
  .is-scroll #pagetop,
  body.no-scroll #pagetop {
    opacity: 1;
    bottom: 0;
  }
  .is-scroll #fixbutton,
  body.no-scroll #fixbutton {
    transform: none;
    opacity: 1;
  }

  /* ------------------------------
   Fat-Navigation
  ------------------------------ */
  .hamburger {
    width: 60px;
    height: 60px;
    padding: 22px 0 0 0;
  }
  .hamburger::after {
    bottom: 14px;
    font-size: 13px;
  }

  .hamburger__icon {
    width: 22px;
  }
  .hamburger__icon::before, .hamburger__icon::after {
    width: 32px;
  }
  .hamburger__icon::before {
    top: -7px;
  }
  .hamburger__icon::after {
    top: 7px;
  }

  .hamburger.active .hamburger__icon:before, .hamburger.active .hamburger__icon:after {
    width: 24px;
    left: -2px;
  }

  .hamburger.active .hamburger__icon:before {
    -moz-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active .hamburger__icon:after {
    -moz-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }

  .fat-nav .fat-nav__title {
    display: block;
    width: 100%;
  }
  .fat-nav .fat-nav__menu {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .fat-nav .fat-nav__menu .fat-nav__menu_inner {
    padding: 30px 8% 100px;
  }
  .fat-nav .fat-nav__menu .sns_box ul li a {
    width: 38px;
    height: 38px;
    padding: 9px;
  }
  .fat-nav .fat-nav__menu .btn_box {
    margin: 0;
  }
  .fat-nav .fat-nav__menu .btn_box ul {
    display: block;
    margin: 0;
  }
  .fat-nav .fat-nav__menu .btn_box ul li {
    padding: 0;
    margin-bottom: 12px;
    width: auto;
  }
  .fat-nav .fat-nav__menu .btn_box ul li a {
    padding: 15px 10px 17px;
  }
  .fat-nav .fat-nav__menu .btn_box ul li a::after {
    right: 15px;
  }
  .fat-nav .fat-nav__menu .btn_box ul li a:hover::after {
    right: 15px;
  }
  .fat-nav .fat-nav__menu .menu_containar {
    padding-bottom: 100px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box {
    width: auto;
    float: none;
    padding: 0;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box .menu_title {
    margin: 35px 0 12px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box .menu_title span {
    font-size: 21px;
    letter-spacing: 5px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box dd {
    margin-bottom: 4px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box dd a {
    line-height: 30px;
    padding: 4px;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box dd a::after {
    right: 0;
  }
  .fat-nav .fat-nav__menu .menu_containar .menu_box dd a:hover::after {
    right: 0;
  }

  /* ------------------------------
   Fix-Button
  ------------------------------ */
  #fixbutton {
    height: 51px;
    transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
    -webkit-transition: all 0.5s cubic-bezier(0.52, 0.08, 0.18, 1) 0s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    z-index: 100;
  }
  #fixbutton .inner ul li a {
    height: 50px;
    line-height: 1;
  }
  #fixbutton .inner ul li a img {
    width: 32px;
    vertical-align: -13px;
    display: block;
    margin: 0 auto;
    padding-top: 3px;
  }
  #fixbutton .inner ul.form li a {
    font-size: 12px;
    letter-spacing: 2px;
  }

  /* ------------------------------
   PageTop
  ------------------------------ */
  #pagetop {
    left: 0;
    bottom: -40px;
    z-index: 90;
    opacity: 0;
  }
  #pagetop a {
    width: 100%;
    height: 30px;
    padding: 2px 0 0;
    border-top-right-radius: 5px;
  }
  #pagetop a:hover {
    padding-top: 2px;
  }
  #pagetop a:hover i {
    margin-bottom: 0;
  }
  #pagetop span {
    font-size: 11px;
    letter-spacing: 1px;
  }
  #pagetop i {
    font-size: 24px;
    line-height: 14px;
  }
  .is-scroll #pagetop {
    opacity: 1;
    bottom: 51px;
  }

  /* ------------------------------
   Footer
  ------------------------------ */
  /* ---------- Contact ---------- */
  #ft-contact {
    padding: 60px 0;
  }
  #ft-contact .wrapper.f_inner .tel {
    width: 250px;
    margin: 0 auto 30px;
  }
  #ft-contact .wrapper.f_inner .tel .number {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  #ft-contact .wrapper.f_inner .tel .open {
    padding: 6px 0;
    font-size: 13px;
  }
  #ft-contact .wrapper.f_inner .buttons li {
    padding: 0 12px;
  }
  #ft-contact .wrapper.f_inner .buttons li a {
    padding: 15px 0 20px;
    font-size: 16px;
  }
  #ft-contact .wrapper.f_inner .buttons li a img {
    width: 50px;
  }

  /* ---------- Footer ---------- */
  #footer {
    padding: 80px 0 160px;
  }
  #footer .sublink {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  #footer .sublink li:first-of-type a {
    line-height: 36px;
  }
  #footer .sublink li:last-of-type {
    border-right: none;
  }
  #footer .sublink li a {
    line-height: 18px;
    font-size: 13px;
    padding: 12px 0;
  }
  #footer .sublink li br {
    display: inline;
  }
  #footer .ft-sitemap .ft-logo a {
    margin: 0 auto;
    width: 80px;
  }
  #footer .ft-info {
    text-align: center;
  }
  #footer .ft-info .office {
    display: inline-block;
    text-align: left;
  }
  #footer .ft-info .office dl {
    margin: 0 0 10px;
    font-size: 13px;
  }
  #footer .ft-info .office dl dt {
    font-weight: 700;
    font-size: 14px;
  }
  #footer .ft-info .office dl .freedial {
    font-size: 15px;
  }

  /* ------------------------------
   Contents
  ------------------------------ */
  /* ---------- Page-Title ---------- */
  #titlearea {
    padding: 130px 0 35px;
  }
  #titlearea .pagetitle .en {
    font-size: 24px;
    letter-spacing: .2em;
  }
  #titlearea .subtext {
    font-size: 15px;
    margin: 12px 0 10px;
  }

  #bodyarea {
    padding: 30px 0 40px;
  }

  /* ---------- BreadCrumbs ---------- */
  #breadcrumbs {
    position: static;
    padding: 6px 5px 8px;
    text-align: center;
    background-color: rgba(201, 197, 192, 0.1);
  }
  #breadcrumbs ul {
    display: inline-block;
    letter-spacing: 0;
  }
  #breadcrumbs ul li {
    font-size: 10px;
  }
  #breadcrumbs ul li a {
    padding-right: 0;
  }
  #breadcrumbs ul li a::after {
    margin: 0 5px;
  }
  #breadcrumbs ul li:first-of-type a::before {
    width: 9px;
    height: 13px;
    vertical-align: -2px;
  }

  /* ---------- Typography ---------- */
  .postbody {
    margin-bottom: 50px;
  }

  .telbnr {
    margin: 50px 0;
    padding: 35px 25px;
  }
  .telbnr .titlearea {
    font-size: 20px;
  }
  .telbnr .textarea {
    margin-top: 15px;
    padding-top: 20px;
  }
  .telbnr .textarea .sub {
    font-size: 13px;
  }
  .telbnr .textarea .telnumber {
    font-size: 36px;
    font-weight: 500;
  }
  .telbnr .textarea .telnumber .icon {
    width: 23px;
    margin-right: 10px;
  }
  .telbnr .textarea .time {
    font-size: 12px;
    letter-spacing: 0.08em;
  }

  /* ------------------------------
   Page-Navigation
  ------------------------------ */
  /* ---------- Page-Back ---------- */
  .pageback {
    margin-top: 50px;
  }
  .pageback a {
    max-width: none;
    display: block;
    padding: 10px 0;
    background-color: #f4f4f4;
  }

  #pagenavi ul li {
    padding: 5px 0;
    height: auto;
  }
  #pagenavi ul li.next a {
    padding: 5px 10px 5px 30px;
  }
  #pagenavi ul li.next a::before {
    top: 5px;
  }
  #pagenavi ul li.prev a {
    padding: 5px 30px 5px 10px;
  }
  #pagenavi ul li.prev a::after {
    top: 5px;
  }
  #pagenavi .pageback a {
    background-color: transparent;
    padding: 5px 0;
  }
  #pagenavi .pageback a::before {
    font-size: 18px;
  }

  /* ---------- Pagination ---------- */
  .pagination {
    margin: 30px auto 40px;
  }
  .pagination span,
  .pagination a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 3px 6px;
  }
  .pagination .page-of {
    display: block;
    font-size: 14px;
    line-height: 1;
    height: auto;
  }

  /* ------------------------------
   Mail-Form
  ------------------------------ */
  #formarea {
    padding: 50px 0;
  }
  #formarea .formtitle {
    margin-bottom: 30px;
  }
  #formarea .formtitle span.en {
    font-size: 24px;
  }
  #formarea .formtitle span.ja {
    font-size: 14px;
  }
  #formarea .notes {
    font-size: 12px;
  }
  #formarea .link a::after {
    vertical-align: -3px;
  }
  #formarea table.inputform .togglebox .notes {
    margin: -2px 0 12px;
  }

  table.inputform {
    margin: 0 auto 30px;
    display: block;
  }
  table.inputform tbody, table.inputform thead {
    display: block;
  }
  table.inputform tr {
    display: block;
  }
  table.inputform th {
    display: block;
    width: auto;
    text-align: center;
    padding: 30px 0 15px;
  }
  table.inputform td {
    display: block;
    padding: 0 0 30px;
  }
  table.inputform ul.float li {
    float: none;
    padding-right: 0;
    margin: 0;
  }
  table.inputform ul.float li + li {
    margin-top: 8px;
  }
  table.inputform br.spbr {
    display: inline;
  }

  /* ---------- label override ---------- */
  form#mailformpro label.mfp_checked {
    padding: 8px 10px 8px 36px;
  }
  form#mailformpro label.mfp_checked::before {
    left: 8px;
  }

  form#mailformpro label,
  form#mailformpro label.mfp_not_checked {
    padding: 8px 10px 8px 36px;
    font-size: 14px;
  }
  form#mailformpro label::before,
  form#mailformpro label.mfp_not_checked::before {
    left: 12px;
  }

  /* ---------- button override ---------- */
  #mfp_buttons {
    padding: 0 20px;
  }

  #mfp_buttons button#btn_confirm {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
  }

  /* ---------- confirm.css override ---------- */
  div#mfp_phase_confirm h4 {
    font-size: 21px;
    letter-spacing: 1px;
  }

  table#mfp_confirm_table tr th {
    width: 40%;
    padding: 10px;
    white-space: normal;
  }

  table#mfp_confirm_table tr td {
    padding: 10px 10px;
  }

  table#mfp_confirm_table tr th,
  table#mfp_confirm_table tr td {
    letter-spacing: 0;
  }

  .mfp_buttons {
    margin: 10px 0 30px;
  }

  div.mfp_buttons button#mfp_button_send {
    width: 40%;
    font-size: 16px;
  }

  div.mfp_buttons button#mfp_button_cancel {
    width: 40%;
    font-size: 13px;
  }

  /* ------------------------------
   Thanks
  ------------------------------ */
  .thanks {
    margin-bottom: 50px;
  }
  .thanks .title {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .thanks .thankstext p {
    text-align: justify;
  }
  .thanks .thankstext p br {
    display: none;
  }

  /* ------------------------------
   Tel
  ------------------------------ */
  #telbox {
    padding: 40px 0;
  }
  #telbox .inner {
    padding: 60px 0 40px;
  }
  #telbox .logo {
    width: 80px;
    margin: 0 auto 30px;
  }
  #telbox .office {
    display: block;
  }
  #telbox .office::before {
    display: none;
  }
  #telbox .office dl {
    width: auto;
    padding: 15px 0;
    box-sizing: border-box;
    text-align: center;
    color: #8E1728;
  }
  #telbox .office dl dt {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #telbox .office dl dd {
    font-size: inherit;
    line-height: 24px;
  }
  #telbox .office dl dd.freedial::before {
    width: 24px;
    height: 15px;
    margin-right: 4px;
    vertical-align: -2px;
  }

  /* ------------------------------
   Carousel
  ------------------------------ */
  /* ---------- Arrows ---------- */
  ul.carousel .slick-prev,
  ul.carousel .slick-next {
    top: 26vw;
    margin-top: 0;
  }
  ul.carousel .slick-next {
    right: 0;
  }
  ul.carousel .slick-prev {
    left: 0;
  }

  /* ------------------------------
   Next-Link-Banner
  ------------------------------ */
  .nextbanner a {
    height: 200px;
  }
  .nextbanner a .text .ja {
    font-size: 16px;
  }
  .nextbanner a .text .en {
    font-size: 28px;
    letter-spacing: .2em;
  }
  .nextbanner a .text .sub {
    margin: 10px 10px 0 0;
    padding-right: 70px;
    background-size: 60px auto;
  }
  #footer .sec-body{
    width: 100%;
  }
}
